<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Login and Registration</title>
</head>
<body>
    <form action="/register" method="post" class="col-3 my-6 p-5 mx-auto bg-subtle text-light shadow-lg p-2 mb-5 bg-body-tertiary rounded">
        <h2 class="text-center text-warning">Register</h2>
        {% with messages = get_flashed_messages(category_filter=['signup']) %}
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                <strong>Flash AHHHHHHH!!!!</strong>
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
        <div class="form-group">
            <label for="first_name"></label>
            <input type="text" name="first_name" class="form-control" placeholder="First Name">
        </div>
        <div class="form-group">
            <label for="last_name"></label>
            <input type="text" name="last_name" class="form-control" placeholder="Last Name">
        </div>
        <div class="form-group">
            <label for="email"></label>
            <input type="text" name="email" class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="password"></label>
            <input type="password" name="password" class="form-control" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="confirm">Confirm Password:</label>
            <input type="password" name="confirm" class="form-control"placeholder="Confirm Password">
        </div>
        <div>
            <input type="submit" value="Register" class="btn btn-warning col-12 mt-4">
        </div>
        <div class="form-group text-center mt-2">
            <p class="text-success">Already have an account? <a href="/" class="text-success">Log in</a></p>
        </div>
    </form>